@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(-360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* HEADER */

.header {
  display: flex;
  height: 100vh;
  width: 100%;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  margin-bottom: 100px;
  z-index: 1;
  overflow: hidden;
}

.header__title {
  width: 730px;
  display: flex;
  margin: 0 0 0 64px;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition: .3s all;
}

.header__link:hover {
  opacity: 0.6;
  
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: -2;
  animation: rotation 20s infinite linear;
}

/* DESCRIPTION */

.description {
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

/* TECHNIQUES */

.techniques {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.cards {
  margin: 0 auto;
  padding: 0;
  width: 920px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.cards__item {
  margin: 0;
  margin-top: 60px;
  width: 240px;
}

.cards__item:last-child {
  opacity: 0;
}

.cards__image {
  display: block;
  margin: 0 auto;  
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  text-align: center;
  margin-top: 43px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.cards__description {
  margin-top: 16px;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}


/* VIDEO */

.video {
  margin-bottom: -50px;
}

.video__iframes {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
}


/* OAKLEY */

.oakley {
  margin: 0 auto;
  padding-top: 160px;
  background-color: #f2f2f2;
}

/* DIGITS */

.digits {
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin: 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* FEYNMAN */

.feynman {
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  margin-bottom: 100px;
  height: 790px;
  padding-top: 80px;
  position: relative;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  margin-bottom: 70px;
  z-index: 2;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.feynman__link {
  margin: 0;
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  transition: .3s opacity;
}

.feynman__link:hover {
  opacity: .6;
}

/* KHAN */

.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  width: 790px;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  margin-top: 36px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0;
  margin-top: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  margin-top: 68px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  height: 50px;
  text-decoration: none;
  margin-left: 48px;
  color: #2f80ed;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  transition: opacity 0.5s;
}

.khan__buy-link:hover {
  opacity: .6;
}

/* KAUFMAN */

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  padding: 90px 0;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  background-size: 877px 877px;
  transform-origin: 50% 50%;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  animation: rotation 20s infinite linear reverse;
}

.table__cell_theme_dark {
  width: 200px;
  z-index: 1;
}

.table__heading_theme_dark {
  margin-top: 80px;
  color: #fff;
}

.table__text_theme_dark {
  color: #fff;
}

.resources {
  margin-top: 100px;
  padding-bottom: 217px;
}

.resources__logo-zone {
  margin: 0;
  padding: 0;
  width: 1100px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.resources__logo {
  width: 270px;
  height: 38px;
  text-align: center;
}

/* FOOTER */

.footer {
  min-height: 350px;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  min-height: 250px;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  list-style-type: none;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-link {
  padding: 0;
  margin: 0;
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
  transition: .3s opacity;
}

.footer__column-link:hover {
  opacity: .6;
  
}

.footer__social-icon {
  margin-right: 10px;
}


.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}